.account-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  height: 90vh;
  border-radius: 5px;
  margin: 1rem;
  align-items: center;
  box-shadow: 0 0 5px lightgray;
}

.account-wrapper div:hover::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.11);
}

.account-wrapper div:hover::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.534);
}

/* ************************************** TRAINING-TITLE TRAINING-TASK */

.account-title {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 1rem;
  padding-bottom: unset;
  color: gray;
}

.account-task {
  font-weight: 300;
  font-size: small;
  text-transform: uppercase;
  color: lightgray;
  align-self: flex-end;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

/* ********************************************  ACCOUNT-FIELD */

.account-field-wrapper {
  display: flex;
  padding: .5rem 1rem;
  height: 74vh;
  width: 100%;
  max-width: 700px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

.account-info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  /*overflow-y: auto;*/
  padding: 1rem;
  align-items: flex-start;
  height: max-content;
  color: gray;
  font-weight: 300;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.frame-title {
  padding: .2rem;
  margin-top: -1.8rem;
  margin-bottom: .5rem;
  font-size: smaller;
  color: rgb(58, 109, 151);
  text-shadow: 1px 1px 5px lightblue;
}

.account-info-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 300px;
  margin-bottom: .5rem;
  overflow: hidden;
}

.account-info-group input {
  flex-grow: unset;
  margin-right: unset;
  min-width: 100px;
}

.account-info-group input+input {
  margin-top: .2rem;
}

.account-password {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.account-info-group button {
  padding: .4rem 1rem;
}

.account-today-words {
  display: flex;
  flex-flow: column wrap;
  max-width: unset;
  width: 100%;
  max-height: 60vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.account-today-words div {
  min-width: 100px;
}

.account-today-words-title {
  margin-bottom: 1rem;
}

.account-today-words div {
  margin-right: 0.5rem;
  font-size: .9rem;
}

.message {
  display: none;
  opacity: 0;
  font-size: .9rem;
  transition: opacity .5s ease-in-out;
  max-width: fit-content;
  margin-top: .5rem;
}

.success {
  color: green;
  text-shadow: 0 0 5px lightgreen;
}

.fail {
  color: red;
}

.account-db-group {
  display: flex;
  width: 100%;
}

.account-db-group a {
  margin-right: 1rem;
}

.account-db-group+.account-db-group {
  margin-top: .7rem;
}

.account-db-row {
  display: flex;
  flex-flow: nowrap column;
  width: 100%;
  margin-top: 0.5rem;
}

.account-db-row input {
  margin-bottom: .2rem;
}

#db-controls {
  transition: opacity .5s ease-in-out;
  height: 0;
  opacity: 0;
}

.disabled {
  cursor: default !important;
  color: lightgray !important;
}

.disabled:hover {
  color: lightgray !important;
  text-shadow: unset;
}

.account-instant-wrapper {
  border: 1px solid lightgray;
  border-top: unset;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  width: 300px;
  margin-top: 2.3rem;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
  transition: opacity .3s ease-in;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 0 10px 15px lightslategrey;
}

.account-instant-wrapper div {
  padding: .5rem;
  border-top: 1px solid lightgray;
  color: gray;
  cursor: pointer;
}

.account-instant-wrapper div:hover {
  color: black;
  text-shadow: 0 0 5px gray;
  background-color: whitesmoke;
}

.account-instant-wrapper div:hover::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.11);
}

.account-instant-wrapper div:hover::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.534);
}

/************************************************** MEDIA */

@media only screen and (max-width: 500px) {
  .account-info-wrapper {
    margin: 0 auto;
    font-size: .95rem;
  }
  .account-info-wrapper+.account-info-wrapper {
    margin-top: 1rem;
  }
  .account-today-words {
    max-height: 50vh;
    overflow-x: auto;
  }
  .account-today-words div {
    font-size: .9rem;
  }
}