<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="./src" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="./account.css">
  <title>Learning parlour</title>
</head>


<body>
  <div class="header">
    <div class="header-container">
      <div class="menu-link" onclick="toggleMenu()">
        <div class="menu-btn"><i class="material-icons-outlined">menu</i></div>
        <div class="location">Location</div>
      </div>
      <div class="login-wrapper">
        <a href="/#" onclick="render('login')" title="Войти в учетную запись">Login</a>
        <i class="material-icons-outlined">login</i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="menu-wrapper">
      <div class="menu-line" id="menu-home">
        <i class="material-icons">search</i>
        <a href="/#" onclick="constructMain()">Home</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">run_circle</i>
        <a href="#">Training</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">collections_bookmark</i>
        <a href="#">Total</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">today</i>
        <a href="#">Today</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">extension</i>
        <a href="#">Generals</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">g_translate</i>
        <a href="#">Gerunds</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">style</i>
        <a href="#">Phrases</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">set_meal</i>
        <a href="#">Idioms</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">question_answer</i>
        <a href="#">Phrasals</a>
      </div>
    </div>
    <div class="main-field">
      <div class="account-wrapper">
        <div class="account-title">account options</div>
        <div class="account-task">adjust your account settings</div>
        <div class="account-field-wrapper">
          <div class="account-info-wrapper">
            <div class="account-info-group">
              <div class="account-feature-label">User name</div>
              <input type="text" name="" id="" value="Admin">
            </div>
            <div class="account-info-group">
              <div class="account-feature-label">Password</div>
              <div class="account-password">
                <a onclick="test()">Change</a>
                <input type="text" placeholder="new password">
                <input type="text" placeholder="confirmation">
              </div>
            </div>
            <div class="account-info-group">
              <div></div>
              <button class="btn">Submit</button>
            </div>
          </div>
          <div class="account-info-wrapper">
            <div class="account-today-words-title">СЛОВА НА СЕГОДНЯ:</div>
            <div class="account-today-words">
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
              <div>Ambient</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

<script>
  const inputs = document.querySelectorAll(".account-password input")
  inputs.forEach(el => el.style.display = "none")

  function test() {
    inputs.forEach(el => el.style.display = "block")
    document.querySelector(".account-password a").style.display = "none"
  }
</script>

</html>