<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="./src" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="./training.css">
  <title>Learning parlour</title>
</head>

<body>
  <div class="header">
    <div class="header-container">
      <div class="menu-link" onclick="toggleMenu()">
        <div class="menu-btn"><i class="material-icons-outlined">menu</i></div>
        <div class="location">Location</div>
      </div>
      <div class="login-wrapper">
        <a href="/#" onclick="render('login')" title="Войти в учетную запись">Login</a>
        <i class="material-icons-outlined">login</i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="menu-wrapper">
      <div class="menu-line" id="menu-home">
        <i class="material-icons">search</i>
        <a href="/#" onclick="constructMain()">Home</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">run_circle</i>
        <a href="#">Training</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">collections_bookmark</i>
        <a href="#">Total</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">today</i>
        <a href="#">Today</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">extension</i>
        <a href="#">Generals</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">g_translate</i>
        <a href="#">Gerunds</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">style</i>
        <a href="#">Phrases</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">set_meal</i>
        <a href="#">Idioms</a>
      </div>
      <div class="menu-line">
        <i class="material-icons-outlined">question_answer</i>
        <a href="#">Phrasals</a>
      </div>
    </div>
    <div class="main-field">
      <div class="training-wrapper">
        <div class="training-title">General vocabulary</div>
        <div class="training-task">fill in blanks with appropriate notion</div>
        <div class="training-field-wrapper">
          <div class="training-field">
            <div class="progress-info">
              <div id="correct">Correct: 0</div>
              <div id="wrong">Wrong: 0</div>
              <div id="success">Success: 0%</div>
              <div id="hint">HINT</div>
              <div style="margin-left: auto;">
                <a onclick="alert(`hello`)">pass over</a>
              </div>
            </div>
            <div class="training-field-title">
              <div class="title-left">Query: 1024</div>
              <div class="title-right">To go: 102</div>
            </div>
            <div class="training-field-workspace">
              <div class="training-field-issue">some issue</div>
              <div class="training-field-input">
                <input type="text" name="" id="input">
                <button class="btn">Submit</button>
              </div>
              <div class="training-field-answer">
                <div class="issue">prev-issue</div>
                <div class="answer">prev-answer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>