@import "~normalize.css";
@import "./views/login/login.css";
@import "./views/home/search.css";
@import "./views/training.css";
@import "./assets/fonts/font.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  /*background-color: whitesmoke;*/
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.411);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.753);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

.active {
  color: black !important;
  text-shadow: 0 0 4px gray;
}

.btn {
  flex-grow: 0;
  border: 1px solid lightgray;
  padding: 0 1.5rem;
  border-radius: 4px;
  color: gray;
}

input {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid rgba(211, 211, 211, 0.411);
  padding: 0.5rem;
  margin-right: .5rem;
  box-shadow: 0 0 10px rgba(245, 245, 245, 0.808) inset;
  transition: box-shadow .3s ease-in-out;
}

::-webkit-input-placeholder {
  font-weight: 300;
  color: darkgray;
}

::-moz-placeholder {
  font-weight: 300;
  color: darkgray;
}

.btn:hover {
  color: black;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.685);
  text-shadow: 0 0 4px gray;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover, i:hover {
  cursor: pointer;
  color: black !important;
  text-shadow: 0 0 5px gray;
}

/****************************************************** HEADER */

.header {
  display: block;
  background: rgba(176, 196, 222, 0.295);
  border-bottom: 1px solid lightgray;
  position: relative;
  z-index: 1;
}

.header-container {
  display: block;
  align-items: baseline;
  max-width: 1200px;
  padding: .7rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  z-index: inherit;
}

.menu-link {
  display: inline-block;
}

.menu-link:hover .menu-btn i, .menu-link:hover .location {
  color: black;
  font-weight: bold;
}

.menu-btn {
  display: inline-block;
  margin-right: .5rem;
  cursor: pointer;
  display: none;
}

.menu-btn i {
  font-size: 1.2rem;
  vertical-align: bottom;
}

.location {
  display: inline-block;
  font-weight: 600;
  color: gray;
}

.login-wrapper {
  display: inline-block;
  float: right;
  align-items: center;
  cursor: pointer;
  z-index: inherit;
}

.login-wrapper a {
  text-decoration: none;
  color: gray;
  margin-right: .5rem;
}

.login-wrapper i {
  font-size: 1.2rem;
  transform: scale(-1, -1);
  vertical-align: bottom;
}

.login-wrapper:hover a, .login-wrapper:hover i {
  color: black !important;
  text-shadow: 0 0 5px gray;
}

@media only screen and (max-width: 500px) {
  .menu-btn {
    display: inline-block;
  }
}

/******************************************************* CONTAINER */

.container {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/******************************************************* MENU */

.material-icons, .material-icons-outlined {
  color: gray;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
  transition: left .4s ease-in-out;
}

.menu-wrapper-visible {
  left: 0px !important;
}

.menu-line {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: .5rem;
}

.menu-line a {
  display: block;
  color: rgba(128, 128, 128, 0.76);
  text-decoration: none;
  padding: 0.5rem;
}

.menu-line:hover {
  background-color: rgba(211, 211, 211, 0.356);
}

.menu-line:hover a, .menu-line:hover i {
  color: black !important;
  text-shadow: 0 0 4px gray;
}

@media only screen and (max-width: 500px) {
  .menu-wrapper {
    position: absolute;
    background-color: rgba(232, 235, 240, 0.918);
    left: -150px;
  }
}

/******************************************************** MAIN-FIELD */

.main-field {
  display: block;
  width: 100%;
  height: 93vh;
}